<!doctype html>
<html lang="{{ site_short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title ensure_right=' - ' }}{{ site_name }}</title>

		{{ yield:meta_tags }}

		<link href="{{ mix src='/css/app.css' }}" rel="stylesheet" type="text/css" />
		<link rel="icon" href="https://brand-assets.sitesauce.app/icon.png" type="image/png" />
		<link rel="shortcut icon" href="https://brand-assets.sitesauce.app/icon.png" type="image/png" />
    </head>
    <body class="page-{{ template }}">
		{{ partial:header }}

		{{ template_content }}

		<footer>
			<div class="footer-cta pt-10 relative z-0 bg-brand-300 pl-2 pr-4 md:px-0">
				<a href="https://app.sitesauce.app/register" class="xl:max-w-5xl mx-auto py-6 md:py-12 px-4 md:px-8 flex items-center justify-between rounded-lg shadow-cta border-2 border-brand-400 transition duration-300 ease-in-out bg-brand-400 transform hover:translate-x-cta-hover hover:translate-y-cta-hover hover:shadow-none max-w-screen-sm lg:max-w-screen-md mx-auto">
					<h2 class="flex-1 text-2xl md:text-3xl leading-9 font-extrabold tracking-tight sm:leading-10 lg:mr-8 font-brown">
						<span class="text-brand-200 text-shadow">Let's get your first static site up and running.</span>
						<span class="text-brand-50">It takes less than a minute to get started. <span class="text-brand-200 text-shadow md:hidden">Click here.</span></span>
					</h2>
					<svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="hidden md:block w-8 h-8 text-white"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
				</a>
			</div>
			<div class="py-0 pb-4 bg-brand-300 -mt-px">
				<div class="container text-center pt-12">
					<p class="my-4 text-lg text-white font-spoof"><span class="font-ttnorms">&copy;</span> {{ now format="Y" }} Sitesauce. All rights reserved.</p>
				</div>
			</div>
		</footer>
		<div x-data="{ ...affiliate() }" x-cloak x-init="init()">
			<template x-if="affiliate">
				<div x-transition:enter="ease-out duration-500" x-transition:enter-start="opacity-0 scale-95 translate-y-2" x-transition:enter-end="opacity-100 scale-100 translate-y-0" x-transition:leave="ease-in duration-300" x-transition:leave-start="opacity-100 scale-100 translate-y-0" x-transition:leave-end="opacity-0 scale-95 translate-y-2" class="transition transform fixed z-100 bottom-0 inset-x-0 pb-2 sm:pb-5 z-100">
					<div class="max-w-screen-xl mx-auto px-2 sm:px-6 lg:px-8">
						<div class="p-2 rounded-lg bg-brand-600 shadow-lg sm:p-3">
							<div class="flex items-center justify-between flex-wrap">
								<div class="flex-1 flex items-center">
									<img :src="affiliate.avatar" class="h-8 w-8 rounded-full mr-2">
									<p class="font-medium text-white font-ttnorms">
										<span class="md:hidden">
											<span x-text="affiliate.name"></span> invited you to Sitesauce!
										</span>
										<span class="hidden md:inline font-spoof">
											Your friend <span x-text="affiliate.name"></span> has invited you to try Sitesauce.
										</span>
									</p>
								</div>
								<div class="order-3 mt-2 flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto">
									<div class="rounded-md shadow-sm">
										<a href="https://app.sitesauce.app/register" class="flex items-center justify-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-brand-600 bg-white hover:text-brand-500 focus:outline-none focus:shadow-outline transition ease-in-out duration-150 font-ttnorms">
											Start your trial
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</template>
		</div>
		<script src="{{ mix src='/js/app.js' }}"></script>
		{{ if environment === 'production' }}
			<script src="https://viper.sitesauce.app/script.js" site="ATRFRDDR" included-domains="sitesauce.app" defer></script>
		{{ /if }}
	</body>
</html>
