
<!DOCTYPE html>
<html lang="{{ site_short_locale }}">
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>{{ title }} - {{ site_name }}</title>
    	<meta name="description" content="Sitesauce converts your dynamic websites into static sites, so you can keep your existing workflow while enjoying all the benefits static sites provide." />

    	<meta property="og:type" content="website">
    	<meta property="og:title" content="Sitesauce - A static site for your dynamically-generated website">
    	<meta property="og:description"
    		content="Sitesauce converts your dynamic websites into static sites, so you can keep your existing workflow while enjoying all the benefits static sites provide.">
    	<meta property="og:image" content="https://brand-assets.sitesauce.app/twitter-card.png">

    	<meta property="twitter:card" content="summary_large_image">
    	<meta property="twitter:title" content="Sitesauce - A static site for your dynamically-generated website">
    	<meta property="twitter:description"
    		content="Sitesauce converts your dynamic websites into static sites, so you can keep your existing workflow while enjoying all the benefits static sites provide.">
    	<meta property="twitter:image" content="https://brand-assets.sitesauce.app/twitter-card.png">

    	<link href="{{ mix src='/css/app.css' }}" rel="stylesheet" type="text/css" />
    	<link rel="icon" href="https://brand-assets.sitesauce.app/icon.png" type="image/png" />
    	<link rel="shortcut icon" href="https://brand-assets.sitesauce.app/icon.png" type="image/png" />
    </head>
    <body class="m-0 bg-brand-50">
		{{ partial:header }}
        <div class="flex justify-center items-center relative h-screen">
            {{ template_content }}
        </div>
	</body>
</html>
