{
    "presets": [
      [
        "next/babel",
        {
          "preset-env": {},
          "transform-runtime": {},
          "styled-jsx": {
            "plugins": ["@thedadi/styled-jsx-plugin-postcss"]
          },
          "class-properties": {}
        }
      ]
    ],
    "plugins": []
  }
