---
import { Image } from 'astro:assets';
---

<div id="demo" class="bg-gray-50 relative py-24 px-5%">
	<Image
		src="/img/background/scribble-section5-left.svg"
		alt=""
		class="image-63"
		loading="lazy"
	/>
	<div class="container text-center">
		<h1
			class="max-w-sm md:max-w-xl mt-0 font-spoof text-black text-4xl md:text-5xl leading-11 mx-auto tracking-tighter text-center font-bold mb-4"
		>
			See it in action
		</h1>
		<p
			class="font-ttnorms text-black leading-7 text-xl text-center mb-4 mt-0 max-w-3xl mx-auto"
		>
			Learn everything Sitesauce has to offer in this short introductory
			video.
		</p>
		<div
			class="relative mt-20 border-4 border-brand-400 rounded-lg shadow-brand overflow-hidden z-1"
		>
			<div
				class="relative p-0"
				style={{ paddingTop: '56.25% !important', margin: '-2px' }}
			>
				<iframe
					class="absolute inset-0 w-full h-full"
					title="Demo video"
					src="https://player.vimeo.com/video/413646262?title=0&byline=0&portrait=0&texttrack=en&dnt=1&transparent=1&quality=1080p"
					srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body,img{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:0 auto}span{margin:auto;height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://player.vimeo.com/video/413646262?title=0&byline=0&portrait=0&texttrack=en&dnt=1&transparent=1&quality=1080p><img src=https://brand-assets.sitesauce.app/twitter-card.png alt='Sitesauce Demo Video' loading='lazy'><span>▶</span></a>"
					frameborder="0"
					allow="autoplay; fullscreen"
					allowfullscreen
					loading="lazy"></iframe>
			</div>
		</div>
	</div>
	<Image
		src="/img/background/green-section3-blob.png"
		alt=""
		class="image-48"
		loading="lazy"
	/>
	<Image
		src="/img/background/scribble-section3-left.svg"
		alt=""
		class="image-57"
		loading="lazy"
	/>
	<Image
		src="/img/background/blue-section4-blob.png"
		alt=""
		class="image-47 z-10"
		loading="lazy"
	/>
	<Image
		src="/img/background/scribble-section4-right.svg"
		alt=""
		class="image-58 z-20"
		loading="lazy"
	/>
</div>
