---
import { Image } from 'astro:assets';
import redBlob from '@images/background/red-section8-blob.png';
import scribbleLeft from '@images/background/scribble-section8-left.svg';
import scribbleLeft2 from '@images/background/scribble-section9-left.svg';
---

<div class="bg-white relative">
	<div
		id="faq"
		class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8"
	>
		<Image src={redBlob} alt="" class="image-45 _87" loading="lazy" />
		<Image src={scribbleLeft} alt="" class="image-61" loading="lazy" />
		<h2
			class="text-center font-spoof text-3xl leading-9 font-extrabold text-gray-900 sm:text-4xl sm:leading-10 relative"
		>
			Frequently asked questions
		</h2>
		<div
			class="mt-8 border-t-2 border-gray-200 pt-6 prose max-w-full relative z-10"
		>
			<dl class="my-8">
				<slot />
			</dl>
		</div>
	</div>
	<Image
		src={scribbleLeft2}
		alt=""
		class="hidden md:block image-62"
		loading="lazy"
	/>
</div>
