@font-face {
	font-family: 'Brown';
	src: url('/fonts/brown/Brown-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-Black.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-BlackItalic.otf') format('opentype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-ExtraBold.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-ExtraBoldItalic.otf') format('opentype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-BoldItalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-MediumItalic.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-LightItalic.otf') format('opentype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-Thin.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-ThinItalic.otf') format('opentype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-ExtraLight.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Ttnorms';
	src: url('/fonts/tt-norms/TTNorms-ExtraLightItalic.otf') format('opentype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Spoof';
	src: url('/fonts/spoof/Spoof-Black.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Spoof';
	src: url('/fonts/spoof/Spoof-BlackSlanted.otf') format('opentype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Spoof';
	src: url('/fonts/spoof/Spoof-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Spoof';
	src: url('/fonts/spoof/Spoof-BoldSlanted.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Spoof';
	src: url('/fonts/spoof/Spoof-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Spoof';
	src: url('/fonts/spoof/Spoof-LightSlanted.otf') format('opentype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Spoof';
	src: url('/fonts/spoof/Spoof-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Spoof';
	src: url('/fonts/spoof/Spoof-MediumSlanted.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Spoof';
	src: url('/fonts/spoof/Spoof-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Spoof';
	src: url('/fonts/spoof/Spoof-RegularSlanted.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Spoof';
	src: url('/fonts/spoof/Spoof-Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Spoof';
	src: url('/fonts/spoof/Spoof-ThinSlanted.otf') format('opentype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Jetbrains Mono';
	src:
		url('/fonts/jetbrains/JetBrainsMono-Regular.woff2') format('woff2'),
		url('/fonts/jetbrains/JetBrainsMono-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
